/*Google Fonts Import*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Sora:wght@100..800&display=swap");

/*CSS Variables*/
:root {
    --primary-font: "Sora", sans-serif;
    --secondary-font: "Manrope", sans-serif;
    --primary-colour: #115457; /*Dark Teal*/
    --secondary-colour: #579779; /*Light Teal*/
    --highlight-colour: #212422; /*Grey*/
    --light-highlight-colour:#7c7e79; /*Light Grey*/
    --background-colour: #F3F4F6 ; /*Off White*/
}

/*General Styles*/
body {
    font-family: var(--primary-font);
    background-color: var(--background-colour);
    color:var(--highlight-colour);
}

h1,
h2,
h3,
h4 {
    font-family: var(--secondary-font);
    color:var(--primary-colour)
}

h2 {
    margin-bottom: 1rem;
}

.sub-heading {
    font-family: var(--secondary-font);
    color: var(--highlight-colour);
}

.section{
    padding-top:3rem;
}

/*Button Styles*/


/*Navbar Styles*/
#navbar {
    background-color: var(--primary-colour);
}

#navbar .logo {
    width: 30px;
}

/*Header Section Styles*/
#hero {
    width: 100%;
    height: auto;
   
}

/*Four P's Section Styles*/
#fourp-img {
    height: auto;
    width: 100%;
}