/*Google Fonts Import*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Sora:wght@100..800&display=swap");

/*CSS Variables*/
:root {
    --primary-font: "Sora", sans-serif;
    --secondary-font: "Manrope", sans-serif;
    --primary-colour: #0f1724; /*Rich Black*/
    --secondary-colour: #a3b2c8; /*Powder Blue*/
    --highlight-colour: #1e8bb3; /*Light Blue*/
    --light-highlight-colour: #22a6d6; /*Bright Blue*/
    --background-colour: #f3f4f6; /*Off White*/
}

/*General Styles*/
body {
    font-family: var(--primary-font);
    background-color: var(--background-colour);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
}
.section{
    padding-top:3rem;
}

/*Navbar Styles*/
#navbar {
    background-color: var(--primary-colour);
}

#navbar .logo {
    width: 30px;
}

/*Header Section Styles*/
#hero {
    width: 100%;
    height: auto;
   
}

/*Four P's Section Styles*/
#fourp-img {
    height: auto;
    width: 100%;
}